<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>客戶維護</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
	<div class="container my-2">
		
		<h1>註冊客戶</h1>
		<form action="#" th:action="@{/user/add}"  method="post">
			<div class="form-group">
				<label for="name">Name:</label> 
				<input type="text" id="username" name="username"
					placeholder="Name" class="form-control">
			</div>
			<div class="form-group">
				<label for="name">密碼:</label> 
				<input type="text" id="password" name="password"
					placeholder="password" class="form-control">
			</div>
			<input type="submit" value="註冊" class="btn btn-primary">
		</form>
		<a href="/psi/login/" class="btn btn-success">登入網址</a>
		<p />
		<table border="1" class="table table-striped table-responsive-md">
		<thead>
		   <tr>
		     <td>ID</td>
		     <td>帳號</td>
		     <td>密碼</td>
		   </tr>
		</thead>
		<tbody th:each="user:${users}">
		      <tr>
		         <td th:text="${user.id}"></td>
		         <td th:text="${user.username}"></td>
		         <td th:text="${user.password}"></td>
		      </tr>
		</tbody>
		</table>
	</div>
	
</body>

</html>